@import '../../abstract/variaveis';

.container-home-mobile {
    background-image: url('../../../imagens/mobile/home/background-inicial-mobile.svg');
    background-size: cover;
    height: 812px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}