.container-home-mobile {
  background-image: url("../../../imagens/mobile/home/background-inicial-mobile.svg");
  background-size: cover;
  height: 812px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.nav-mobile {
  height: 128px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.logo-mobile {
  height: 32px;
}

.nav-menu {
  background-color: transparent;
  border: none;
}

.menu-laterel-mobile {
  background-image: url("../../../imagens/mobile/home/background-menu-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: -100vw;
  transition: 0.25s;
}

.nav-menu-fechar {
  background-color: transparent;
  border: none;
}

.menu-lateral-links {
  height: 280px;
  width: 100%;
  margin-left: 32px;
  align-self: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-lateral-itens {
  text-decoration: none;
  color: #595976;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

.link-lateral-ativo {
  color: white;
}

.menu-lateral-itens:hover {
  color: white;
}

.icons-redes-sociais {
  width: 184px;
  margin-left: 32px;
  align-self: center;
}

.lista-redes-sociais {
  display: flex;
  justify-content: space-between;
}

.item-redes-sociais {
  text-decoration: none;
  background-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #4F4F68;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-lateral--ativo {
  left: 0;
  transition: 0.25s;
  z-index: 1;
}

.nav-ativo-mobile-logo {
  height: 128px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.informacoes-home-mobile {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  width: 311px;
  height: 256px;
  line-height: 56px;
}

.informacoes-home-mobile h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #232340;
}

.informacoes-home-mobile p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #606060;
}

.informacoes-home-mobile button {
  font-size: 16px;
  width: 160px;
  height: 56px;
  border-radius: 8px;
  background-color: #5468E7;
  border: 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.imagem-home-mobile {
  align-self: flex-end;
  position: absolute;
}

.botao-pular-pagina {
  width: 100%;
  margin: 0 0 32px 32px;
  align-self: flex-end;
  position: absolute;
}

.botao-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.botao-esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #5468E7;
}/*# sourceMappingURL=style-home-mobile.css.map */